<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge"
  />
  <title>Document</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="./css/style.css"
  />
</head>

<body>
  <header>
    <nav>
      <h1>
        <a href="#">Reading QA</a>
      </h1>
    </nav>
  </header>

  <div id="app">
    <section
      class="loading"
      v-if="loading"
    >
      <div class="loading-text">loading.....</div>
      <div class="loader"></div>
    </section>

    <section v-else>
      <img
        class="avatar"
        :src="imgSrc"
        alt="avatar"
      />

      <form class="input-form">
        <div class="paragraph">
          <select
            name="select-form"
            class="select-form"
            v-model="input.paragraph"
          >
            <option value="">請選擇新聞標題</option>
            <option
              value=""
              v-for="option in news"
              v-bind:value="option.content"
            >
              {{option.title}}
            </option>
          </select>

          <div class="paragraph-text">
            <div class="input-header">
              <div class="title">Paragraph</div>
              <button
                class="btn speaker-btn"
                type="button"
                :class="{active:isSpeaking}"
                @click="speakParagraph"
              >
                <i class="fas fa-volume-up"></i>
              </button>
            </div>

            <textarea
              defaultValue="abc"
              class="input paragraph-input"
              maxlength="1000"
              rows="10"
              readonly="true"
            >
{{input.paragraph}}</textarea>
          </div>
        </div>

        <div class="question-answer clearfix">
          <div class="question-area">
            <div class="input-header">
              <div class="title">Question</div>
              <button
                type="button"
                class="btn listener-btn"
                :class="{active:isListening}"
                @click="listenQuestion"
              >
                <i class="fas fa-microphone"></i>
              </button>
            </div>
            <textarea
              class="input question-input"
              v-model="input.question"
              type="text"
              maxlength="1000"
              minlength="10"
            ></textarea>
          </div>

          <div class="answer-area">
            <div class="title">Answer</div>
            <output class="input answer">
              {{ answer }}
            </output>
          </div>

          <button
            type="button"
            class="btn submit-btn"
            @click="submitQuery"
          >
            Submit
          </button>
        </div>
      </form>
    </section>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>